<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weilianda.mapper.ReviewRequestMapper" >
  <resultMap id="BaseResultMap" type="com.weilianda.pojo.ReviewRequest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="VARCHAR" />
    <result column="_ver" property="ver" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="notify" property="notify" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.weilianda.pojo.ReviewRequest" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, app_id, post_id, _ver, token, notify, request_id
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.weilianda.pojo.ReviewRequestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from review_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.weilianda.pojo.ReviewRequestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from review_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from review_request
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review_request
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weilianda.pojo.ReviewRequestExample" >
    delete from review_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weilianda.pojo.ReviewRequest" >
    insert into review_request (id, app_id, post_id, 
      _ver, token, notify, 
      request_id, content)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=VARCHAR}, #{postId,jdbcType=VARCHAR}, 
      #{ver,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{notify,jdbcType=VARCHAR}, 
      #{requestId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weilianda.pojo.ReviewRequest" >
    insert into review_request
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="ver != null" >
        _ver,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="notify != null" >
        notify,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="ver != null" >
        #{ver,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="notify != null" >
        #{notify,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weilianda.pojo.ReviewRequestExample" resultType="java.lang.Integer" >
    select count(*) from review_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update review_request
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null" >
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=VARCHAR},
      </if>
      <if test="record.ver != null" >
        _ver = #{record.ver,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null" >
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.notify != null" >
        notify = #{record.notify,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null" >
        request_id = #{record.requestId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update review_request
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=VARCHAR},
      _ver = #{record.ver,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      notify = #{record.notify,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update review_request
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=VARCHAR},
      _ver = #{record.ver,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      notify = #{record.notify,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weilianda.pojo.ReviewRequest" >
    update review_request
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=VARCHAR},
      </if>
      <if test="ver != null" >
        _ver = #{ver,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="notify != null" >
        notify = #{notify,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        request_id = #{requestId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.weilianda.pojo.ReviewRequest" >
    update review_request
    set app_id = #{appId,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=VARCHAR},
      _ver = #{ver,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      notify = #{notify,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weilianda.pojo.ReviewRequest" >
    update review_request
    set app_id = #{appId,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=VARCHAR},
      _ver = #{ver,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      notify = #{notify,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>